<app-navbar></app-navbar>
<div class="image">
  <div class="contact">
    <h1>Contact us</h1>
    <div class="contacts-list">
        <ul>
            <li><a href="#"> <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> ErikasGiedraitis@gmail.com </a></li>
            <li><a><i class="fa fa-phone-square green fa-2x" aria-hidden="true"></i> +37063610548</a></li>
            <li><a><i class="fa fa-linkedin-square blue fa-2x" aria-hidden="true"></i> LinkedIn</a></li>
            <li><a><i class="fa fa-facebook blue fa-2x" aria-hidden="true"></i> Facebook</a></li>
        </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
