<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">To-do App</h5>
          <p class="paragraph">It's not much, but it's honest work.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Social links</h5>
          <ul class = "social_links">
            <li><a class = "facebook_link" href="https://www.facebook.com/" target="blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a class = "twitter_link" href="https://twitter.com/" target="blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a class = "google_link" href="https://www.google.com/" target="blank"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a class = "youtube_link" href="https://www.youtube.com/" target="blank"><i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i></a></li>
            <li><a class = "instagram_link" href="https://www.instagram.com/" target="blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 All rights reserved.
      </div>
    </div>
  </footer>