<!DOCTYPE html>
<html>
  <body>
    <nav class="navbar">
      <a class="title" href="http://localhost:4200/">To-do App</a>
      <div class="navbar-links">
        <ul class="navbar-list">
          <li><a class="navButton" href="#" routerLink="/home" routerLinkActive="activebutton"> Home</a></li>
          <li><a class="navButton" href="#" routerLink="/about" routerLinkActive="activebutton"> About</a></li>
          <li><a class="navButton" href="#" routerLink="/contact" routerLinkActive="activebutton"> Contact</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
