<!DOCTYPE html>
<html>
  <body>
    <nav class="navbar">
      <a class="title" href="http://localhost:4200/">To-do App</a>
      <div class="navbar-links">
        <ul>
          <li><a class="navButton" href="#" routerLink="home" routerLinkActive="activebutton"> Home</a></li>
          <li><a class="navButton" href="#ng" routerLink="about" routerLinkActive="activebutton"> About</a></li>
          <li><a class="navButton" href="#"> Contact</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
