h2 {
  margin-top: 0;
  margin-bottom: 165px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 25px;
}

.image {
  width: 100%;
  height: 1000px;
  background-image: url("https://coolwallpapers.me/picsup/3084721-blank_chalks_coloured-pencil_desk_draw_empty_pad_paper_pencil_post_sheet_table_wood_wooden_wooden-surface.jpg");
  background-size: cover;
}
